<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SeriesQ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</head>
<body>
 <h1>Welcome</h1>
 <h2>mission statement</h2>
 <h3>community involvement</h3>
    <ul>stuff</ul>
    <ul>stuff</ul>
    <ul>stuff</ul>
</body>
<aside>sliding image</aside>
<nav>Open Submissions</nav>
</html>
